* {
    box-sizing: border-box;
}

::selection {
    background: #FDF6C5
}


img,
iframe,
video,
audio {
    max-width: 100%;
}


body {
    background-color: #2E3561; 
    background-size: cover;

    font-family:  Helvetica, arial, sans-serif;
    
}

main {
   
   padding: 50px; 

}

/* General Layout Stuff */


/* global header*/

.site-name {
    font-size: 32px;
    font-weight: thin;
    color: #ffffff
}
/* global typogrpaphy*/

a {
    color: #2E3561
}

h1 {
    font-size: 120px;
    color: #2E3561
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 40px;
}

/* navigation */ 
nav { 
padding-top: 10px;
padding-bottom: 10px;

}

nav a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s;
}
nav a:hover {
    color: #FDF6C5;
    font-size: 32px;
}

nav ul {
    display: flex; 
    justify-content: space-around; 
    list-style: none; 

}





.col-layout {
    
}

@media screen and (min-width: 800px) {
    .col-layout {
        background-color:yellow;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 100px;

        
    }
}

/* components */
.component {
    margin-bottom: 40px;
    background-color: #ffffff; 
    padding: 40px;
    max-width: 600px;
}

@media screen and (min-width: 800px) {

    .module-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 50px;
    }
}

/* Article styles */

article {
    background-color: #fff;
    padding: 20px;
}

.sub-item {
    max-width: 700px;
    margin-bottom: 40px;
    padding-bottom: 40px;

    margin-left: auto;
    margin-right: auto;

}