* {
    box-sizing: border-box;
}

img,
iframe,
video,
audio {
    max-width: 100%;
}


body {
    background-color: #FDF7C2; 
    background-size: cover;

    font-family:  Helvetica, arial, sans-serif;
}

main {
   background-color:  #ffffff;
   
   padding: 50px; 

}
/* navigation */ 
nav { 
background-color: #ffffff

}

nav ul {
    display: flex; 
    justify-content: space-around; 
    list-style: none; 

}

/* General Layout Stuff */
.col-layout {
    
}

@media screen and (min-width: 800px) {
    .col-layout {
        background-color:yellow;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 100px;

        
    }
}

/* components */
.component {
    margin-bottom: 40px;
    background-color: #FDF7C2; 
    padding: 40px;
    max-width: 600px;
}

@media screen and (min-width: 800px) {

    .module-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 50px;
    }
}
